/****** Generics *****/ 

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/**** Content ****/

body {
    font-family: sans-serif;
}

.flex {
    display: flex;
}


.web-app{
    width: 100%;
    height: calc(100vh - 100px);
    background-color:#141922;
    display: flex;
}

.logo-sito {
    align-items: center;
}



#logoimg {
    padding-left: 20px;
   height: 40px;
   width: 140px;
  
}

#logosmall {
    padding-left: 20px;
    height: 40px;  
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

.firstmenu {
    line-height: 30px;
    flex-direction: column;
    color: #a3a3a3;
}

.home {
    flex-direction: column;
    gap: 10px;
}

.row {
    align-items: center;
}


.firstmenu .fa-solid {
    padding-right: 10px;
    padding-left: 20px;
}

li {
    list-style-type: none;
    padding-left: 20px;
}

.playlist {
    color: #a3a3a3;
    flex-direction: column;
}

.playlist h4 {
    color: white;
    padding-left: 20px;
}

.addplaylist {
  align-items: center;

}
 .name-playlist {
    line-height: 40px;
 }

.playlist .fa-solid {
    font-size: 30px;
}

.second-menu {
    color: white;
    padding-left: 20px;
    flex-direction: column;
}

.second-menu .fa-solid {
    padding-right: 10px;
    padding-bottom: 10px;
}



.install p {
    color: #696b70;
}

.menu-aside {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    
}

.profile {
    width:90%;
    line-height: 60px;
}

aside{
    flex-basis: 200px;
    background-color: black;
    flex-shrink: 0;
    flex-direction: column;
}

.profile-doe img {
    width: 20%;
    background-color: gray;
    clip-path: circle(30%);
    padding-top: 5px;
    
    
    
}

.profile-doe {
    
    gap: 20px;
    text-align: center;
}




/******** HEADER *******/




header{
    height: 80px;
    width:calc(100vw - 200px);
    background-color: #080b12;
    opacity: 70%;
    flex-shrink: 0;
    position: absolute;
    z-index: 2;
}

#upgrade {
    background-color:#080b12;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: 1px white solid;
}

.header-menu {
    opacity: 50%;
    margin: 0px 30px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.menu-content {
    flex-direction: column;
    padding: 0px 20px;
    position: relative;
    top: 80px;
    flex-wrap: wrap;
    flex-grow: 1;
}

main {
    flex-grow: 1;
    overflow-y: scroll;
    width: 100%;
}

hr {
    width: 80%;
}





/******* MAIN CONTENT ******/

.menu-title {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    color:#696b70;
    padding-bottom: 30px;
    max-width: 100%;
    flex-wrap: wrap;
}

.menu-title span {
    padding: 0px 10px;
    font-size: 13px;
}

.menu-content h2 {
    color: white;
    padding-top: 20px;
}

#title-played {
    padding-bottom: 20px;
}

.album {
    z-index: 1;
    flex-wrap: wrap;
    
}

.content2 h5 {
    color: #797c80;
}

.card img {
    width: 100%;
}

.card {
    flex-direction: column;
    align-items: center;
    gap:10px;
    text-align: center;
    width: calc(100% / 6 - 20px);
    margin: 10px 10px;
    color: white;
    position: relative;

}

.content2 {
    flex-direction: column;
    gap: 20px;
   
}

.final-content {
    flex-direction: column;
    gap: 20px;
}

.final-content img {
    clip-path: circle(50%);

}
.card h4 {
    color: white;

}

.play-none {
    position: absolute;
    top: 50px;
    font-size: 50px;
    display: none;
}









/****** FOOTER *******/

footer {
    background-color: #282828;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;
}

.firstfooter {
    color: white;
    height: 100px;
    justify-content: space-between;
    gap: 20px;  
 
}

.img-footer {
    padding: 30px 0px;
    gap: 15px;
}

.text-footer {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.icon-footer {
    gap: 10px;
    padding: 30px 0px;
    align-items: center; 
    color: #797c80;
}

.secondfooter {
    color: white;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    width: 40%;
 
}

.main-icon {
    gap: 30px;
    align-items: center;
}

.playtrack {
    font-size: 25px;
}

.bar-track {
    gap: 30px;
    width: 100%;
}

.bar {
    width: 80%;
    background-color: #5a5a5a;
    height: 6px;
    border-radius: 25px;
}

.whitebar {
    width: 20%;
    background-color:white;
    height: 6px;
    border-radius: 25px;
}

.thirdfooter {
    align-items: center;
    
    
}

.card h6 {
    color: #797c80;
}


.endfooter {
    color: #797c80;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.volume {
    height: 4px;
    background-color: #5a5a5a;
    width: 60px;
}

.bar-volume {
    height: 4px;
    background-color: white;
    width: 30px;
    position: absolute;

}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: aqua;
    position: relative;
    top: -3px;
    left: 25px;
    display: none;
}

.circle-bar {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: aqua;
    position: relative;
    top: -2px;
    right: 10px;
    display: none;
}



/****** EFFECTS *****/


.home .row:hover {
    color: white;
    cursor: pointer;
    border-left: 2px greenyellow solid;
    
     
}

.playlist li:hover {
    color: white;
    cursor: pointer;
}

.addplaylist:hover {
    color: white;
    cursor: pointer;
}

.menu-title span:hover {
    color: white;
    cursor: pointer;
    border-bottom: 2px greenyellow solid;
    margin-bottom: -2px;
    
}

#upgrade:hover {
    height: 50px;
    width: 210px;

}

.install span:hover {
    color: white;
    cursor: pointer;
}

.img-footer h6:hover {
    border-bottom: 1px white solid;
    cursor: pointer;
}

.icon-footer .fa-regular:hover {
    color: white;
    cursor: pointer;
}


.endfooter .fa-solid:hover {
    color: white;
    cursor: pointer;
}

.volume:hover .circle {

    display: block;
}

.volume:hover .bar-volume {
    background-color: greenyellow;
}

.bar:hover .circle-bar {

    display: block;
}

.bar:hover .whitebar {
    background-color: greenyellow;
}

.main-icon .fa-regular:hover {
    font-size: 30px;
    cursor: pointer;
    margin: -2.5px;

}

.main-icon .fa-solid:hover {
    cursor: pointer;
}

.card:hover img {
    opacity: 50%;
    cursor: pointer;
}


.card:hover .play-none {
    display: block;
}

/****** /EFFECTS *******/


/***** RESPONSIVE *****/



/* MD screen */ 

@media screen and (max-width: 878px) {

    .card {

        width: calc(100% / 4 - 20px);

    }


    .play-none {

    top: 40px;
    }


}

/* S screen */

@media screen  and (max-width: 639px) {

    .card {

        width: calc(100% / 2 - 20px);
    }

    .icon-footer {
        flex-direction: column;
    }

    .play-none {
        top: 50px;
    }


    
}

/* XS screen */

@media screen  and (max-width: 552px) {

    aside {
        flex-basis: 10px;
    }

    header {
        width:calc(100vw - 50px);

    }

    
    #logoimg {
        display: none;
        
    }

    #logosmall {
        display: block;

    }

    .home span {
        display: none;
    }

    .playlist {
        display: none;
    }

    .install span {
        display: none;
    }
    h4 {
        display: none;
    }

    .profile-doe img {
        padding-bottom: 40px;
        padding-left: 10px;
    }

    hr {
        display: none;
    }

    .profile-doe h4 {
        display: none;
    }

    .profile-doe img {
        padding-top: 43px;
        clip-path: circle(15%);
        width:40px;
        padding-right: 8px;
        margin-left: -13px;
    }

    .install {
        margin-bottom: -20px
    }

    .play-none {
        top: 70px;
    }

}




