/****** Generics *****/ 

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/**** Content ****/

body {
    font-family: sans-serif;
}

.flex {
    display: flex;
}


.web-app{
    width: 100%;
    height: calc(100vh - 100px);
    background-color:#141922;
    display: flex;
}



#logoimg {
    padding-left: 20px;
   height: 60px;
   width: 140px;
  
}

.firstmenu {
    line-height: 30px;
    flex-direction: column;
    color: #a3a3a3;
}


.firstmenu .fa-solid {
    padding-right: 10px;
}

li {
    list-style-type: none;
    padding-left: 20px;
}

.playlist {
    color: #a3a3a3;
    flex-direction: column;
}

.playlist h4 {
    color: white;
    padding-left: 20px;
}

.addplaylist {
  align-items: center;
  padding-left: 20px;

}
 .name-playlist {
    line-height: 40px;
 }

.playlist .fa-solid {
    font-size: 30px;
}

.second-menu {
    color: white;
    padding-left: 20px;
    flex-direction: column;
}

.second-menu .fa-solid {
    padding-right: 10px;
    padding-bottom: 10px;
}

.install p {
    color: #696b70;
}

.menu-aside {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    
}

.profile {
    border-top: 1px white solid;
    width:90%;
    line-height: 60px;
}

aside{
    flex-basis: 200px;
    background-color: black;
    flex-shrink: 0;
    flex-direction: column;
}

.profile-doe img {
    width: 20%;
    background-color: gray;
    clip-path: circle(30%);
    padding-top: 5px;
    
    
    
}

.profile-doe {
    
    gap: 20px;
    text-align: center;
}




/******** HEADER *******/




header{
    height: 80px;
    width:calc(100vw - 200px);
    background-color: #080b12;
    opacity: 70%;
    flex-shrink: 0;
    position: absolute;
    z-index: 2;
}

#upgrade {
    background-color:#080b12;
    color: white;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    border: 1px white solid;
}

.header-menu {
    opacity: 50%;
    margin: 0px 30px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
}

.menu-content {
    flex-direction: column;
    margin: 0px 40px;
    width:calc(100% - 200px);
    position: relative;
    z-index: 1;
    top: 80px;
}

main {
    flex-grow: 1;
    overflow-y: scroll;
    width: 100%;
}





/******* MAIN CONTENT ******/

.menu-title {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding-top: 30px;
    color:#696b70;
    padding-bottom: 30px;
}

.menu-content h2 {
    color: white;
    padding-top: 20px;
}

#title-played {
    padding-bottom: 20px;
}

.album {
    z-index: 1;
    
}

.content2 h5 {
    color: #797c80;
}

.card img {
    width: 100%;
}

.card {
    flex-direction: column;
    align-items: center;
    gap:10px;
    text-align: center;
    width: calc(100% / 6 - 20px);
    margin: 0px 10px;
    color: white;
    position: relative;

}

.content2 {
    flex-direction: column;
    gap: 20px;
   
}

.card h4 {
    color: white;

}

.play-none {
    position: absolute;
    top: 50px;
    font-size: 50px;
    display: none;
}









/****** FOOTER *******/

footer{
    height: 100px;
    background-color: #282828;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    width: 100%;
}

.firstfooter {
    color: white;
    height: 100px;
    justify-content: space-between;
    gap: 20px;  
}

.img-footer {
    padding: 30px 0px;
    gap: 15px;
}

.text-footer {
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.icon-footer {
    gap: 10px;
    padding: 30px 0px;
    align-items: center; 
    color: #797c80;
}

.secondfooter {
    color: white;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.main-icon {
    gap: 40px;
    align-items: center;
}

.playtrack {
    font-size: 40px;
}

.bar-track {
    gap: 30px;
}

.bar {
    width: 400px;
    background-color: #5a5a5a;
    height: 6px;
    border-radius: 25px;
}

.whitebar {
    width: 150px;
    background-color:white;
    height: 6px;
    border-radius: 25px;
}

.thirdfooter {
    align-items: center;
    
}

.endfooter {
    color: #797c80;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.volume {
    height: 4px;
    background-color: #5a5a5a;
    width: 100px;
}

.bar-volume {
    height: 4px;
    background-color: white;
    width: 30px;
    position: absolute;

}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: aqua;
    position: relative;
    top: -3px;
    left: 25px;
    display: none;
}

.circle-bar {
    height: 10px;
    width: 10px;
    border-radius: 50px;
    background-color: aqua;
    position: relative;
    top: -2px;
    right: 10px;
    display: none;
}



/****** EFFECTS *****/


.home li:hover {
    color: white;
    cursor: pointer;
    border-left: 2px greenyellow solid;
     
}

.playlist li:hover {
    color: white;
    cursor: pointer;
}

.addplaylist:hover {
    color: white;
    cursor: pointer;
}

.menu-title span:hover {
    color: white;
    cursor: pointer;
    border-bottom: 2px greenyellow solid;
    margin-bottom: -2px;
    
}

#upgrade:hover {
    height: 50px;
    width: 210px;

}

.install p:hover {
    color: white;
    cursor: pointer;
}

.img-footer h6:hover {
    border-bottom: 1px white solid;
    cursor: pointer;
}

.icon-footer .fa-regular:hover {
    color: white;
    cursor: pointer;
}


.endfooter .fa-solid:hover {
    color: white;
    cursor: pointer;
}

.volume:hover .circle {

    display: block;
}

.volume:hover .bar-volume {
    background-color: greenyellow;
}

.bar:hover .circle-bar {

    display: block;
}

.bar:hover .whitebar {
    background-color: greenyellow;
}

.main-icon .fa-regular:hover {
    font-size: 45px;
    cursor: pointer;
    margin: -5px -2px;  
}

.main-icon .fa-solid:hover {
    cursor: pointer;
}

.card:hover img {
    opacity: 50%;
    cursor: pointer;
}

.card:hover .play-none {
    display: block;
}

/****** /EFFECTS *******/


/***** RESPONSIVE *****/


/* XS screen */
@media screen and (min-width: 480px) {


}

/* S screen */ 

@media screen and (max-width: 768px) {

    body {
        overflow-x: hidden;
    }



}





